In [1]:
# libraries
import numpy as np
import pandas as pd

df = pd.read_csv('../data/edattainxtry_5plus.csv')

In [2]:
df

,country,year,stype,ccode,datasrc,cname,aAll_1,aUrban_1,aRural_1,aMale_1,...,cl_tQuint1Mx_24,cl_tQuint2Mx_24,cl_tQuint3Mx_24,cl_tQuint4Mx_24,cl_tQuint5Mx_24,cl_tQuint1Fx_24,cl_tQuint2Fx_24,cl_tQuint3Fx_24,cl_tQuint4Fx_24,cl_tQuint5Fx_24
0,Afghanistan,2015,DHS,afg7,DHS 2015,Afghanistan 2015,0.669,0.833,0.608,0.817,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,2007,i2d2,afg_2007_i2,i2d2,Afghanistan 2007,0.486,0.752,0.392,0.616,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,2010,MICS4,afg_m4,MICS 2010,Afghanistan 2010-11,0.516,0.793,0.452,0.645,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Angola,2015,DHS,ago7,DHS 2015-16,Angola 2015-16,0.914,0.965,0.787,0.944,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,1999,i2d2,ago_1999_i2,i2d2,Angola 1999,0.877,NaN,NaN,0.912,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
621,Zimbabwe,2010,DHS,zwe6,DHS 2010-11,Zimbabwe 2010-11,0.988,0.989,0.987,0.987,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
622,Zimbabwe,2015,DHS,zwe7,DHS 2015,Zimbabwe 2015,0.994,0.998,0.993,0.994,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
623,Zimbabwe,2009,MICS3,zwe_m3,MICS 2009,Zimbabwe 2009,0.994,0.999,0.991,0.992,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
624,Zimbabwe,2014,MICS5,zwe_m5,MICS 2014,Zimbabwe 2014,0.994,0.998,0.993,0.992,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
625,Zimbabwe,2019,MICS6,zwe_m6,MICS 2019,Zimbabwe 2019,0.994,0.997,0.992,0.992,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
i = ['country', 'year', 'gdppc2015', 'cpi2010']

j = (df.columns.str.startswith('aMalUrb') + 
df.columns.str.startswith('aMalRur')+ 
df.columns.str.startswith('aFemUrb')+ 
df.columns.str.startswith('aFemRur'))

k = list(i) + list(df.columns[j])

values = df.loc[:, k].reset_index(drop=True)
values

,country,year,gdppc2015,cpi2010,aMalUrb_1,aMalRur_1,aFemUrb_1,aFemRur_1,aMalUrb_2,aMalRur_2,...,aFemUrb_7,aFemRur_7,aMalUrb_8,aMalRur_8,aFemUrb_8,aFemRur_8,aMalUrb_9,aMalRur_9,aFemUrb_9,aFemRur_9
0,Afghanistan,2015,556.007,132.883,0.926,0.778,0.742,0.424,0.926,0.775,...,0.566,0.241,0.631,0.434,0.475,0.199,0.486,0.317,0.380,0.152
1,Afghanistan,2007,392.710,83.074,0.846,0.540,0.656,0.215,0.843,0.534,...,0.373,0.063,0.426,0.186,0.269,0.037,0.302,0.121,0.186,0.019
2,Afghanistan,2010,526.104,100.000,0.862,0.596,0.717,0.285,0.859,0.595,...,0.531,0.142,0.517,0.296,0.434,0.104,0.368,0.199,0.290,0.067
3,Angola,2015,4166.980,159.405,0.976,0.861,0.955,0.720,0.974,0.833,...,0.612,0.128,0.504,0.131,0.448,0.072,0.330,0.060,0.298,0.034
4,Angola,1999,2458.096,0.684,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
621,Zimbabwe,2010,1110.447,100.000,0.997,0.984,0.983,0.990,0.997,0.979,...,0.948,0.874,0.889,0.614,0.852,0.677,0.784,0.483,0.770,0.551
622,Zimbabwe,2015,1445.070,106.213,0.996,0.993,0.999,0.993,0.996,0.986,...,0.970,0.847,0.902,0.565,0.881,0.661,0.816,0.419,0.805,0.499
623,Zimbabwe,2009,940.532,97.066,0.999,0.990,0.999,0.993,0.998,0.984,...,0.963,0.864,0.915,0.577,0.889,0.654,0.845,0.459,0.825,0.532
624,Zimbabwe,2014,1443.618,108.859,0.998,0.990,0.998,0.996,0.998,0.987,...,0.966,0.885,0.898,0.598,0.900,0.713,0.825,0.471,0.844,0.594
625,Zimbabwe,2019,1414.829,414.684,0.998,0.990,0.997,0.994,0.998,0.989,...,0.976,0.878,0.930,0.638,0.898,0.724,0.846,0.515,0.828,0.618

In [18]:

data_mod1 = pd.melt(values, 
                    id_vars=values.columns[~(values.columns.str.startswith("aMal") + values.columns.str.startswith("aFem"))], 
                    value_vars=values.columns[values.columns.str.startswith("aMal") + values.columns.str.startswith("aFem")],
                    var_name='Sex_Location_Level',
                    value_name= 'prop')

In [19]:
data_mod1

           country  year  gdppc2015  cpi2010 Sex_Location_Level   prop
0      Afghanistan  2015    556.007  132.883          aMalUrb_1  0.926
1      Afghanistan  2007    392.710   83.074          aMalUrb_1  0.846
2      Afghanistan  2010    526.104  100.000          aMalUrb_1  0.862
3           Angola  2015   4166.980  159.405          aMalUrb_1  0.976
4           Angola  1999   2458.096    0.684          aMalUrb_1    NaN
...            ...   ...        ...      ...                ...    ...
22531     Zimbabwe  2010   1110.447  100.000          aFemRur_9  0.551
22532     Zimbabwe  2015   1445.070  106.213          aFemRur_9  0.499
22533     Zimbabwe  2009    940.532   97.066          aFemRur_9  0.532
22534     Zimbabwe  2014   1443.618  108.859          aFemRur_9  0.594
22535     Zimbabwe  2019   1414.829  414.684          aFemRur_9  0.618

[22536 rows x 6 columns]

In [20]:
data_mod2 = data_mod1.replace(['aMalUrb_1', 'aMalUrb_2', 'aMalUrb_3', 'aMalUrb_4', 'aMalUrb_5', 'aMalUrb_6', 'aMalUrb_7', 'aMalUrb_8', 'aMalUrb_9'], 
                            ['Male_Urban_1', 'Male_Urban_2', 'Male_Urban_3', 'Male_Urban_4', 'Male_Urban_5', 'Male_Urban_6','Male_Urban_7','Male_Urban_8','Male_Urban_9'])
data_mod3 = data_mod2.replace(['aMalRur_1', 'aMalRur_2', 'aMalRur_3', 'aMalRur_4', 'aMalRur_5', 'aMalRur_6', 'aMalRur_7', 'aMalRur_8', 'aMalRur_9'], 
                            ['Male_Rural_1', 'Male_Rural_2', 'Male_Rural_3', 'Male_Rural_4', 'Male_Rural_5', 'Male_Rural_6','Male_Rural_7','Male_Rural_8','Male_Rural_9'])
data_mod4 = data_mod3.replace(['aFemUrb_1', 'aFemUrb_2', 'aFemUrb_3', 'aFemUrb_4', 'aFemUrb_5', 'aFemUrb_6', 'aFemUrb_7', 'aFemUrb_8', 'aFemUrb_9'], 
                            ['Female_Urban_1', 'Female_Urban_2', 'Female_Urban_3', 'Female_Urban_4', 'Female_Urban_5', 'Female_Urban_6','Female_Urban_7','Female_Urban_8','Female_Urban_9'])
data_mod5 = data_mod4.replace(['aFemRur_1', 'aFemRur_2', 'aFemRur_3', 'aFemRur_4', 'aFemRur_5', 'aFemRur_6', 'aFemRur_7', 'aFemRur_8', 'aFemRur_9'], 
                            ['Female_Rural_1', 'Female_Rural_2', 'Female_Rural_3', 'Female_Rural_4', 'Female_Rural_5', 'Female_Rural_6','Female_Rural_7','Female_Rural_8','Female_Rural_9'])

In [21]:
data_mod5[['sex','location', 'level']] = data_mod5.Sex_Location_Level.str.split("_",expand=True)
data_mod6 = data_mod5.drop(columns='Sex_Location_Level')

In [22]:
data_mod6.head()

       country  year  gdppc2015  cpi2010   prop   sex location level
0  Afghanistan  2015    556.007  132.883  0.926  Male    Urban     1
1  Afghanistan  2007    392.710   83.074  0.846  Male    Urban     1
2  Afghanistan  2010    526.104  100.000  0.862  Male    Urban     1
3       Angola  2015   4166.980  159.405  0.976  Male    Urban     1
4       Angola  1999   2458.096    0.684    NaN  Male    Urban     1

In [25]:
data_tidy = data_mod6[['country', 'year', 'gdppc2015', 'cpi2010', 'location', 'sex', 'level', 'prop']]
data_tidy

           country  year  gdppc2015  cpi2010 location     sex level   prop
0      Afghanistan  2015    556.007  132.883    Urban    Male     1  0.926
1      Afghanistan  2007    392.710   83.074    Urban    Male     1  0.846
2      Afghanistan  2010    526.104  100.000    Urban    Male     1  0.862
3           Angola  2015   4166.980  159.405    Urban    Male     1  0.976
4           Angola  1999   2458.096    0.684    Urban    Male     1    NaN
...            ...   ...        ...      ...      ...     ...   ...    ...
22531     Zimbabwe  2010   1110.447  100.000    Rural  Female     9  0.551
22532     Zimbabwe  2015   1445.070  106.213    Rural  Female     9  0.499
22533     Zimbabwe  2009    940.532   97.066    Rural  Female     9  0.532
22534     Zimbabwe  2014   1443.618  108.859    Rural  Female     9  0.594
22535     Zimbabwe  2019   1414.829  414.684    Rural  Female     9  0.618

[22536 rows x 8 columns]

In [24]:
data_tidy.to_csv('../data/tidy_data.csv')